/*
	Badge style
*/

.badge {
	position: absolute;
	top: -9px;
	left: -7px;
	width: 27px;
	height: 27px;
	background: yellow;
	border-radius: 50%;
	box-shadow: 1px 2px 3px black;

	&__number {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0;
		padding: 0;
		width: 100%;
		height: 100%;
		font-size: 11pt;
	}
}
