/*
    Display list of books
*/

.book-list {
	@include flexcol(center, initial);
	min-height: calc(100vh - 37px);

	.book-container {
		width: 100%;
		min-height: calc(100vh - 37px);
		@include flexrow(space-between, flex-start);
		flex-wrap: wrap;
		padding-top: 20px;
		margin-top: 76px;
		&--search {
			margin-top: 0;
		}
	}

	&__result {
		@include flexrow(space-between, center);
		width: 100%;
		padding-top: 20px;
		margin-top: 76px;
		.caption {
			font-size: 15pt;
			text-decoration: underline;
		}
	}

	&__separator {
		width: 100%;
		height: 3px;
		background: rgb(200, 200, 200);
		margin-top: 20px;
	}

	.loading-box {
		@include flexrow(center, center);
		width: 100%;
		min-height: calc(100vh - 37px);
	}

	.book {
		margin-bottom: 20px;
		width: calc(50% - 10px);
	}

	.book-empty {
		@include flexcol(center, center);
		width: 100%;
		min-height: calc(100vh - 37px);
	}

	.empty {
		color: rgb(120, 120, 120);
		font-size: 15pt;
		padding: 20px;
		text-align: center;
	}

	.icon {
		color: rgb(120, 120, 120);
		font-size: 40pt;
	}

	@include responsive(1200px) {
		.book {
			height: 200px;
		}
		.book__cover {
			width: 136px;
		}

		.book__info {
			width: calc(100% - 136px);
		}
		.synopsis {
			-webkit-line-clamp: 2;
			max-height: 22px;
		}
	}

	@include responsive(900px) {
		.book-list {
			@include flexcol(space-between, flex-start);
		}
		.book {
			width: 100%;
			height: 280px;
		}
		.book__cover {
			width: 200px;
		}
		.book__info {
			width: calc(100% - 200px);
		}

		.synopsis {
			-webkit-line-clamp: 6;
			max-height: 93px;
		}
	}

	@include responsive(600px) {
		.book {
			height: 200px;
		}
		.book__cover {
			width: 136px;
		}

		.book__info {
			width: calc(100% - 136px);
		}
		.synopsis {
			-webkit-line-clamp: 2;
			max-height: 22px;
		}
		.add-cart {
			padding: 5px 10px;
			font-size: 11pt;
		}
	}

	@include responsive(400px) {
		.book {
			height: 150px;
		}
		.book__cover {
			width: 102px;
		}
		.book__info {
			width: calc(100% - 102px);
		}
		.title {
			font-size: 11pt;
		}
		.synopsis {
			display: none;
		}
	}
}
