/*
    Standard button
*/

.btn {
	border: none;
	outline: none;
	transition: all 0.2s ease-out;
	font-size: 12pt;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
	background: $color-1;
	color: white;
	text-shadow: 0px 1px 2px black;

	&:hover {
		box-shadow: 0px 0px 10px rgb(200, 200, 200);
		background: lighten($color-1, 8%);
	}

	&:active {
		box-shadow: 0px 0px 5px rgb(50, 50, 50);
		background: darken($color-1, 8%);
	}

	// Disabled button

	&--disabled {
		pointer-events: none;
		color: rgb(180, 180, 180);
		text-shadow: none;
	}

	// Blue button

	&--ok {
		background: $color-3;
	}

	&--ok:hover {
		background: lighten($color-3, 8%);
	}

	&--ok:active {
		background: darken($color-3, 8%);
	}

	// Red button

	&--danger {
		background: $color-4;
	}

	&--danger:hover {
		background: lighten($color-4, 8%);
	}

	&--danger:active {
		background: darken($color-4, 8%);
	}

	// Disabled button

	&--disabled {
		background: rgb(220, 220, 220);
		pointer-events: none;
		color: rgb(130, 130, 130);
	}

	&--disabled:hover {
		background: lighten(rgb(220, 220, 220), 8%);
	}

	&--disabled:active {
		background: darken(rgb(220, 220, 220), 8%);
	}
}
