/*
    Searchbar styles
*/

.search {
	@include flexrow(initial, center);
	margin-right: 20px;

	@include responsive(1070px) {
		display: none;
	}

	&__input {
		border-radius: 5px 0 0 5px;
		border: 1px white solid;
		padding: 10px 20px 10px 20px;
	}

	&__submit {
		border-radius: 0 5px 5px 0;
		&:hover {
			box-shadow: none;
		}
	}
}
