/*
    Searchbar styles
*/

.search {
	@include flexrow(initial, initial);
	margin-right: 20px;

	&__input {
		border-radius: 5px 0 0 5px;
		border: 1px white solid;
		padding: 10px 20px 10px 20px;
	}

	&__submit {
		border-radius: 0 5px 5px 0;
		&:hover {
			box-shadow: none;
		}
		@include responsive(600px) {
			display: none;
		}
		&--short {
			display: none;
			@include responsive(600px) {
				display: inline-block;
			}
		}
	}

	&__button {
		width: 100%;
	}
}

.navigation {
	.search {
		@include responsive(1070px) {
			display: none;
		}
	}
}

.menu {
	.search {
		width: calc(100% - 40px);
		margin-right: 0;

		&__input {
			flex: 1;
		}
	}
}