/*
	Synopsis modal
*/

.full-synopsis {
	@include flexrow(center, center);
	position: fixed;
	top: 76px;
	left: 0;
	z-index: 9;
	width: 100%;
	height: calc(100vh - 76px);
	background: rgba(0, 0, 0, 0.6);
	opacity: 0;
	pointer-events: none;
	@include transition;

	&--shown {
		opacity: 1;
		pointer-events: auto;
	}

	&__window {
		width: 700px;
		max-height: 70%;
		overflow: auto;
		background: white;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
		border-radius: 10px;

		@include responsive(800px) {
			width: 100%;
			max-height: calc(100vh - 76px);
			height: calc(100vh - 76px);
			border-radius: 0;
		}
	}

	.head {
		@include flexrow(space-between, center);

		@include responsive(800px) {
			padding: 10px 0;
		}
	}

	.title {
		padding: 10px 20px;
		font-size: 20pt;

		@include responsive(800px) {
			font-size: 15pt;
		}
	}

	.close {
		margin-right: 20px;
	}

	.separator {
		width: calc(100% - 40px);
		height: 3px;
		margin: auto;
		background: rgb(200, 200, 200);
	}

	.prg {
		padding-left: 20px;
		padding-right: 20px;
	}
}